
            
        {% for day in days %}
            <div class="span2 days">
                
                <strong class="day btn ">{{day.name}}</strong>
                {% for task in day.tasks %}
                 {% for type in types %}  
                    {% if type.name == task.type %}
                        <a class="taskss label {{type.name}}" style="margin-top: 7px; background-color: {{'#'~type.color}}" href="{{task.url}}">{{ task.name }}</a>
                    {% endif %}
                 {% endfor %}  
                {% endfor %} 
               
            </div>
        {% endfor %} 


    <div class="legend well">
	<ul class=" nav nav-list"> 
            <li class="nav-header">Legend</li> 
           {% for type in types %}
                
                  <li>
                        <a id='{{type.name}}' href="#">
                            <i class="icon-eye-open"></i> {{type.name}} 
                            <span class="badge" style="background-color: {{'#'~type.color}}">on</span>
                        </a>
                    </li>
                   
            {% endfor %} 
	</ul>
    </div>
