
            
        {% for day in days %}
            <div class="span2 days">
                
                <strong class="day btn ">{{day.name}}</strong>
                {% for task in day.tasks %} 
                 {% for key,assignment in assignments %}   
                    {% if key == task.assign %}
                        <a class="taskss label {{assignment.name}}" style="margin-top: 7px; background-color: {{'#'~assignment.color}}" href="{{task.url}}" target="_blank">{% if task.icon is defined %}<img src="{{ asset(['bundles/mr1mr1/img/', task.icon]|join) }}"  width="15px" class="pull-left"/> {% endif %}<div style="margin-left:18px"> {{ task.name }}</div></a>
                    {% endif %}
                 {% endfor %}  
                {% endfor %} 
               
            </div>
        {% endfor %} 


    <div class="legend well">
	<ul class=" nav nav-list"> 
            <li class="nav-header">Legend</li> 
           {% for assignment in assignments %}
                
                  <li>
                        <a id='{{assignment.name}}' href="#">
                            <i class="icon-eye-open"></i> {{assignment.name}} 
                            <span class="badge pull-right" style="background-color: {{'#'~assignment.color}}">on</span>
                        </a>
                    </li>
                   
            {% endfor %} 
	</ul>
    </div>
