<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Prepare op com support</h3>
  </div>
  <div class="modal-body prepare_op_comittee">
    <article>
        <p>This is the first page of the document. The date is insertet with the day in course when the Operational Comittee is set.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide1.png') }}" alt="OP support slide 1">
        <p>Second slide presents the agenda of the document with all the aspects presentend. </p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide2.png') }}" alt="OP support slide 2">
        <p>Slide number 3 presents the names of the Product Owner and the Scrum Master.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide3.png') }}" alt="OP support slide 3">
        <p>Slide number 4 presents the current sprint user stories that the team has worked till the meeting.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide4.png') }}" alt="OP support slide 4">
        <p>Slide number 5 presents the burndown chart.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide5.png') }}" alt="OP support slide 5">
        <p>Slide number 6 presents the issues found till then on the sprint </p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide6.png') }}" alt="OP support slide 6">
        <p>Slide 7 presents the feedback from the owner regarding the current sprint.</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide7.png') }}" alt="OP support slide 7">
        <p>Slide 8 presents the risk that could accour in current sprint, what should be done to fist them, who will be responsable for fixing the problem and the deadline on how will work on them </p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide8.png') }}" alt="OP support slide 8">
        <p>Something about slide 9</p>
        <img src="{{ asset('bundles/mr1Mr1/img/slide9.png') }}" alt="OP support slide 9">
    </article>
  </div>
